body {
    font-family: Arial, sans-serif;
    color: black;
    overflow-x: hidden;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

label,
input {
    display: block;
    margin-bottom: 10px;
    color: black;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    color: black;
}

.show-password-container {
    display: flex;
    align-items: center;
}

.show-password-container input[type="checkbox"] {
    margin-right: 5px; /* Add some space between the checkbox and the label */
}